html, body {
    margin: 0;
    padding: 0;
}

textarea:disabled {
    resize: none;
    color: #000;
    background: #fff;
}

/*** JQuery UI Overrides ***/
.ui-widget {
    font-size: 14px;
}

.ui-accordion-header {
    border: solid 1px #3BB4BF;
}
/*** End ***/

.inline {
    display: inline-block;
}

.top {
   vertical-align: top;
}

.bottom {
   vertical-align: bottom;
}

.right {
	float: right;
}

.padding15 {
	padding: 15px;
}

.marginBottom10 {
	margin-bottom: 10px;
}

.width100 {
	width: 100%;
}

.menu-text {
    padding: .4em .4em;
    line-height: normal;
    font-weight: bold;
    color: #3BB4BF;
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 14px;
}

#header-logo {
    padding-top: 10px;
    width: 300px;
    height: auto;
}

#header-container {
    padding: 10px 10px 10px 10px;
    display: block;
}

#header-logo-container {
    margin-right: 8px;
}

#accordion-container {
    padding: 10px 5px 10px 10px;
    width: 300px;
}

#project-tree {
    min-height: 300px;
}

#workspace-container {
    padding: 10px 10px 10px 5px;
}

#waved-workspace {
    border: 1px solid #3BB4BF;
}

.right {
    float: right;
}

.select-full-size {
    margin-top: 0.5em;
    min-width: 100%;
    max-width: 100%;
}

.button-small .ui-button-text {
    padding: 0.1em 0.6em 0.2em 0.6em;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.hide-on-load {
    display: none;
}

/* Hide dialogs on load */
.dialog {
    display: none;
}

.dialogColumnMaxWidth {
	max-width: 170px;
}

.error {
    color: red;
    font-size: 0.8em;
}

.required:before {
    color: red;
    content: "* ";
}

#project-name {
    padding: 0 0 0.75em 0.2em;
}

.widget-container {
    height: inherit;
    width: inherit;
    position: absolute;
    pointer-events: none;
}

.widget {
    pointer-events:auto;
}

#bind-data-table {
    width: 100%;
    text-align: left;
}

.dirty {
    color: red;
    font-weight: bold;
}