html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#mainSection {
    height: 100%;
}

#accordion-container {
    /* Account for header-container and padding*/
    height: calc(100% - 120px);
    min-height: 400px;
    width: 300px;
    padding: 10px 5px 10px 10px;
}

textarea:disabled {
    resize: none;
    color: #000;
    background: #fff;
}

/*** JQuery UI Overrides ***/
.ui-widget {
    font-size: 14px;
}

.ui-accordion-header {
    border: solid 1px #3BB4BF;
}
/*** End ***/

.inline {
    display: inline-block;
}

.top {
   vertical-align: top;
}

.bottom {
   vertical-align: bottom;
}

.right {
	float: right;
}

.padding15 {
	padding: 15px;
}

.marginBottom10 {
	margin-bottom: 10px;
}

.width100 {
	width: 100%;
}

.menu-text {
    padding: .4em .4em;
    line-height: normal;
    font-weight: bold;
    color: #3BB4BF;
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 14px;
}

#header-logo {
    padding-top: 10px;
    width: 300px;
    height: auto;
}

#header-container {
    padding: 10px 10px 10px 10px;
    display: block;
}

#header-logo-container {
    margin-right: 8px;
}

#workspace-container {
    padding: 10px 10px 10px 5px;
    height: calc(100% - 120px);
    min-height: 400px;
    width: calc(100% - 400px);
    position: relative;
    overflow: auto;
}

#waved-workspace {
    border: 1px solid #3BB4BF;
}

.right {
    float: right;
}

.select-full-size {
    margin-top: 0.5em;
    min-width: 100%;
    max-width: 100%;
}

.button-small .ui-button-text {
    padding: 0.1em 0.6em 0.2em 0.6em;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.hide-on-load {
    display: none;
}

/* Hide dialogs on load */
.dialog {
    display: none;
}

.dialogColumnMaxWidth {
	max-width: 170px;
}

.error {
    color: red;
    font-size: 0.8em;
}

.required:before {
    color: red;
    content: "* ";
}

#project-name {
    padding: 0 0 0.75em 0.2em;
}

.widget-container {
    height: inherit;
    width: inherit;
    position: absolute;
    pointer-events: none;
}

.widget {
    pointer-events:auto;
}

#bind-data-table {
    width: 100%;
    text-align: left;
}

#preview-data-table {
    width: 100%;
    text-align: left;
    font-size: 0.9em;
}
#preview-data-table td, #preview-data-table th {
    padding: 2px 5px
}

#project-tree {
	padding-left: 0;
}

#project-tree .tree-row {
	cursor: pointer;
}

#project-tree .tree-row-selected {
	font-weight: bold;
}

#project-tree .tree-row:hover {
	color: #3BB4BF;
}

#project-tree li {
	list-style: none;
}

#project-tree ul {
	padding-left: 16px;
}

#project-tree .tree-folder-icon {
    background:url('../ThirdParty/jquery/css/waved-theme/images/ui-icons_3BB4BF_256x240.png') no-repeat -16px -96px;
    width:16px;
    height:16px;
    display: inline-block;
    cursor: pointer;
}

#project-tree .tree-folder-icon.closed {
    background:url('../ThirdParty/jquery/css/waved-theme/images/ui-icons_3BB4BF_256x240.png') no-repeat -0px -96px;
}

#project-tree .tree-gear-icon {
    background:url('../ThirdParty/jquery/css/waved-theme/images/ui-icons_3BB4BF_256x240.png') no-repeat -192px -112px;
    width:16px;
    height:16px;
    display: inline-block;
}

.dirty {
    color: #E63241;
    font-family: arial;
    font-size: 0.7em;
    font-style: italic;
    font-weight: lighter;
}

.widget-selector {
    text-align: center;
    margin-bottom: 8px;
}

.widget-selector img {
    cursor: pointer;
}

#project-list .row_selected td {
    background-color: #B0BED9;
}
