<div>
    <span data-bind="text:displayName"></span>
    <select data-bind="options: sizeType, optionsText: function(item) { return item.getDisplayText(); }, value: displayValue"></select>
    <div class="error" data-bind="visible: displayError, html: dialogErrorMessage"></div>
    <!-- ko if: displayValue !== undefined -->
    <div data-bind="foreach: displayValue.properties">
        <div data-bind="template: {name : $data.displayTemplateName, data: $data}"></div>
    </div>
    <!-- /ko -->
</div>
