@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
	font-family: 'Lato', sans-serif;
	min-width: 800px;
	margin: 0;
	padding: 0;
}

.undecorated {
	text-decoration: none;
}

#project-title {
	display: inline;
}

nav {
	display: inline;
}

nav ul {
	list-style-type: none;
	padding: 0 8px 0 20px;
	margin: 15px 0 0 0;
}

nav ul li {
	display: inline;
}

nav ul li a
{
	text-decoration: none;
}

#header {
	line-height: 48px;
	width: 800px;
	margin: 0 auto;
}

#project-title {
	font-size: 48px;
	font-weight: 700;
	color: #3bb4bf;
}

#home-logo-link, #home-logo-link:visited {
	color: #3bb4bf;
}

.nav-link a:link, 
.nav-link a:visited {
	line-height: 48px;
	font-size: 32px;
	color: #3bb4bf;
	float: right;
	padding: 0 12px 0 12px;
}

.nav-link a:hover {
	color: white;
	background: #3bb4bf;
}

#splash-container {
	background: #3bb4bf;
	color: white;
	height: 500px;
	width: 100%;
	background-image: url("../images/USA-800x500.svg");
	background-repeat: no-repeat;
	background-position: center;
}

#homepage-content-container {
	padding: 0 40px 10px 40px;
}

#page-content-container {
	padding: 0 40px 10px 40px;	
}

#page-content {
	width: 800px;
	margin: 0 auto;
	border-top: thin solid #3bb4bf;
	padding: 0 0 60px 0;
}

#page-header {
	padding: 40px 0 20px 0;
	font-weight: 700;
	text-align: center;
	font-size: 2.613em;
}

#page-header-subtext {
	font-size: 0.5em;
	font-weight: 400;
	color: #3bb4bf;
	margin: 10px;
}

#page-footer-container {
	background: #3bb4bf;
	color: white;
	padding: 40px 0;
	bottom: 0;
	width: 100%;
}

#about-header {
	text-align: center;
}

#about-description {
	width: 800px;
	margin: 0 auto;
}

#recent-posts {
	width: 800px;
	margin: 0 auto 60px auto;
}

.recent-posts {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

.recent-post-date {
    color: #999;
}

.recent-posts > li {
	margin-top: 6px;
}

#recent-posts-header {
	margin: 60px auto 10px auto;
	width: 800px;
}

#recent-post-blurb {
	width: 500px;
	display: inline-block;
	vertical-align: top;
}

#read-more {
	margin: 10px 0 0 400px;
}

#recent-post-list {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin: 0 0 0 50px;
}

#team-container {
	background: #3bb4bf;
	color: white;
	height: 400px;
	padding: 40px;
}

#team-header {
	text-align: center;
	padding: 0 0 20px 0;
}

#splash-logo {
	display: block;
	width: 800px;
	height: auto;
	margin: 0 auto;
	padding-top: 100px;
}

#team-members {
	width: 800px;
	margin: 0 auto 60px auto;
}

.team-member {
	width: 140px;
	text-align: center;
	margin: 0 8px 0 8px;
	display: inline-block;
}

.team-member-picture {
	width: 140px;
}

#team-organizations {
	width: 800px;
	margin: 0 auto;
}

#DrexelCCI {
	margin: 0 auto;
	display: block;
}

#blog-posts {
	width: 600px;
	display: inline-block;
	vertical-align: top;
}

#blog-recent-posts {
	width: 180px;
	display:inline-block;
	vertical-align: top;
	margin-left: 15px;
}

.no-decoration a {
	text-decoration: none;
}

.post-meta {
    color: #999;
    font-size: 12px;
    margin: 0 0 15px 0;
}

.post-header h2 {
    margin-bottom: 0;
}

#blog-posts a:link, 
#blog-posts a:visited {
	color: #3bb4bf;
}

hr { 
	display: block; 
	height: 1px;
    border: 0; 
    border-top: 1px solid #3bb4bf;
    margin: 1em 0; 
    padding: 0; 
}

.post-content {
	padding: 0 0 20px 0;
}