@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
	font-family: 'Lato', sans-serif;
	min-width: 800px;
	margin: 0;
	padding: 0;
}

.undecorated {
	text-decoration: none;
}

#project-title {
	display: inline;
}

nav {
	display: inline;
}

nav ul {
	list-style-type: none;
	padding: 0 20px;
	margin: 15px 0 0 0;
}

nav ul li {
	display: inline;
}

nav ul li a
{
	text-decoration: none;
}

#header {
	line-height: 48px;
}

#project-title {
	font-size: 48px;
	font-weight: 700;
	color: #3bb4bf;
}

#home-logo-link:visited {
	color: #3bb4bf;
}

.nav-link a:link, 
.nav-link a:visited {
	line-height: 48px;
	font-size: 32px;
	color: #3bb4bf;
	padding: 0 12px 0 12px;
	float: right;
}

.nav-link a:hover {
	color: white;
	background: #3bb4bf;
}

#splash-container {
	background: #3bb4bf;
	color: white;
	height: 500px;
	width: 100%;
	background-image: url("../images/USA-800x500.svg");
	background-repeat: no-repeat;
	background-position: center;
}

#homepage-content-container {
	padding: 0 40px 10px 40px;
}

#about-header {
	text-align: center;
}

#about-description {
	width: 800px;
	margin: 0 auto;
}

#recent-posts {
	width: 800px;
	margin: 0 auto 60px auto;
}

.recent-posts {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

.recent-post-date {
    color: #999;
}

#recent-posts-header {
	margin: 60px auto 10px auto;
	width: 800px;
}

#recent-post-blurb {
	width: 500px;
	display: inline-block;
	vertical-align: top;
}

#read-more {
	margin: 10px 0 0 400px;
}

#recent-post-list {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin: 0 0 0 50px;
}

#team-container {
	background: #3bb4bf;
	color: white;
	height: 400px;
	padding: 40px;
}

#team-header {
	text-align: center;
	padding: 0 0 20px 0;
}

#splash-logo {
	display: block;
	width: 800px;
	height: auto;
	margin: 0 auto;
	padding-top: 100px;
}

#team-members {
	width: 800px;
	margin: 0 auto 60px auto;
}

.team-member {
	width: 140px;
	text-align: center;
	margin: 0 8px 0 8px;
	display: inline-block;
}

.team-member-picture {
	width: 140px;
}

#team-organizations {
	width: 800px;
	margin: 0 auto;
}

#DrexelCCI {
	margin: 0 auto;
	display: block;
}
